@font-face {
	font-family: "Flaticon";
	src: url("../fonts/flaticon.eot");
	src: url("../fonts/flaticon.eot#iefix") format("embedded-opentype"),
	url("../fonts/flaticon.woff") format("woff"),
	url("../fonts/flaticon.ttf") format("truetype"),
	url("../fonts/flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.flaticon-arrows110:before {
	content: "\e000";
}
.flaticon-artist:before {
	content: "\e001";
}
.flaticon-brush24:before {
	content: "\e002";
}
.flaticon-circle111:before {
	content: "\e003";
}
.flaticon-eraser10:before {
	content: "\e004";
}
.flaticon-magic20:before {
	content: "\e005";
}
.flaticon-paint3:before {
	content: "\e006";
}
.flaticon-return13:before {
	content: "\e007";
}
.flaticon-videogame10:before {
	content: "\e008";
}
