/*@font-face {*/
/*font-family: kufi;*/
/*src: url(../fonts/DroidKufi-Bold.woff);*/
/*}*/
.floating-right
{
    float: right;
}
.floating-left
{
    float: left;
}
.text-right
{
    text-align: right;
}
.text-left
{
    text-align: left;
}
.text-center
{
    text-align: center;
}
.display-block
{
    display: block;
    overflow: hidden;
}
.display-inline-block
{
    display: inline-block;
    overflow: hidden;
}
.clear
{
    clear: both;
}
a
{
    border: none;
    text-decoration: none;
}
*,a,
a:focus {
    outline: none;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background: #ffffff;
    font-family: kufi;
    text-align: center;
}
.stars-container
{
    display: block;
    overflow: visible;
    width: 97.2%;
    height: 26.632%;
    position: absolute;
    bottom: 7.445%;
    left: 2%;
}
.main-container
{
    display: inline-block;
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.headerGame
{
    overflow: visible;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    margin: auto;
    width: 100%;
    height: 6.641%;
    text-align: left;
    background: rgba(157,219,154,0.35);
    color: #FFF;
    text-decoration: none;
    font-size: 3vw;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    /* margin: 1.265% 0.395% 0 0.633%; */
    -webkit-box-shadow: inset 0px -6px 0px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0px -6px 0px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px -6px 0px 0px rgba(0, 0, 0, 0.1);
    z-index: 999;
}
.question-icon
{
    display: block;
    overflow: hidden;
    width: 93px;
    width: 4.693%;
    height: 65px;
    height: 92.16%;
    background: url("../images/question-icon.png") no-repeat center;
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.titleContainer
{
    position: absolute;
    right: 1.172%;
    width: 90%;
    top: 0;
    height: 100%;
    text-align: right;
    color: rgb(60, 116, 43);
    text-decoration: none;
    font-size: 3.1vmin;
}
.titleText
{
    right: 0;
    text-align: center;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #3c742b;
}
.game-container
{
    display: block;
    overflow: hidden;
    width: 100%;
    height: 91.3%;
    position: absolute;
    top: 7.813%;
    /* bottom: 0; */
    left: 0;
    right: 0;
    margin: auto;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.09);
    border: 2px solid rgb(218, 233, 217);
}
.canvas-container
{
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}
#imag1
{
    min-width: 100%;
    min-height: 100%;
    position: relative;
    max-width: 100%;
    max-height: 100%;
}
#imag2
{
    min-width: 100%;
    min-height: 100%;
    position: relative;
    max-width: 100%;
    max-height: 100%;
}
.bstar
{
    background: url('../img/bstar.svg') no-repeat center;
    background-size:100% 100%;
    width: 5.274%;
    height: 24.94%;
    display: block;
    overflow: hidden;
    margin: 0 0.905% 1% 0;
    float: left;
}
.bstar:last-child
{
    margin-right: 0;
}
.fstar
{
    background: url('../img/fstar.svg') no-repeat;
    background-size:contain;
    background-position: 100% 100%;
    width: 5.274%;
    height: 24.94%;
    display: block;
    overflow: hidden;
    margin: 0 0.905% 1% 0;
    float: left;
}
.fstar:last-child
{
    margin-right: 0;
}
.good
{
    width: 8.128%;
    height: 8.146%;
    position: absolute;
    z-index: 1;
    display: none;
}
#good_0
{
    top: 4%;
    left: 62%;
}
#good_1
{
    top: 43%;
    left: 77%;
}
#good_2
{
    top: 61%;
    left: 49%;
}
#good_3
{
    top: 87%;
    left: 29%;
}
#good_4
{
    top: 56%;
    left: 36%;
}
#good_5
{
    top: 67%;
    left: 88%;
}
.map-1,.map-2
{
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 999999;
}
.area
{
    display: block;
    overflow: hidden;
    position: absolute;
    z-index: 999999;
}
.area.ar1
{
    width: 9%;
    height: 7.5%;
    top: 5%;
    left: 63%;
}
.area.ar2
{
    width: 10%;
    height: 4%;
    top: 46%;
    left: 80%;
}
.area.ar3
{
    width: 3%;
    height: 3%;
    top: 67.5%;
    left: 51.5%;
}
.area.ar4
{
    width: 14.6%;
    height: 9%;
    top: 85%;
    left: 30.6%;
}
.area.ar5
{
    width: 7.5%;
    height: 18%;
    top: 45%;
    left: 40%;
}
.area.ar6
{
    width: 12.1%;
    height: 4%;
    top: 70.5%;
    left: 88%;
}
.bottom-container
{
    display: block;
    overflow: hidden;
    width: 100%;
}
.center-container
{
    display: inline-block;
    overflow: hidden;
    width: 95.318%;
    height: 63.09%;
    position: absolute;
    top: 2%;
    left: 0;
    right: 0;
    margin: auto;
}
.display-tabel
{
    display: table;
    overflow: hidden;
    margin: 0px auto;
    width: 100%;
    height:100%;
}
.display-row
{
    display:table-row;
    overflow:hidden;
    vertical-align:middle;
    text-align:center;
}
.display-cell
{
    display:table-cell;
    overflow:hidden;
    vertical-align:middle;
    text-align:center;
}
.image-container
{
    /*border:solid 10px;*/
    background:#fff;
    display: block;
    position:relative;
    /*border: solid 7px #42200a;*/
    float: left;
    width: 49.335%;
    height: 99.176%;
}
area
{
    cursor: default;
}
@-webkit-keyframes zoomInDown {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
        transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
        animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
        transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
}
@keyframes zoomInDown
{
    from
    {
        opacity: 0;
        -webkit-transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
        transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
        animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }
    60%
    {
        opacity: 1;
        -webkit-transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
        transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
}
.zoomInDown
{
    -webkit-animation-name: zoomInDown;
    animation-name: zoomInDown;
}
.animated
{
    -webkit-animation-duration:2s;
    animation-duration:2s;
    -webkit-animation-fill-mode:both;
    animation-fill-mode: both;
}
.animated.rotateIn
{
    -webkit-animation-duration:1s;
    animation-duration:1s;
    -webkit-animation-fill-mode:both;
    animation-fill-mode: both;
}
@-webkit-keyframes tada
{
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    10%, 20% {
        -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    }
    30%, 50%, 70%, 90% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }
    40%, 60%, 80% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }
    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
@keyframes tada {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    10%, 20% {
        -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    }

    30%, 50%, 70%, 90% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }

    40%, 60%, 80% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.tada {
    -webkit-animation-name: tada;
    animation-name: tada;
}



@-webkit-keyframes bounceIn {
    from, 20%, 40%, 60%, 80%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        -webkit-transform: scale3d(.97, .97, .97);
        transform: scale3d(.97, .97, .97);
    }

    to {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes bounceIn {
    from, 20%, 40%, 60%, 80%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        -webkit-transform: scale3d(.97, .97, .97);
        transform: scale3d(.97, .97, .97);
    }

    to {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.bounceIn {
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
}


@-webkit-keyframes flip
{
    from
    {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
        transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    40%
    {
        -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
        transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    50%
    {
        -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
        transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    80%
    {
        -webkit-transform: perspective(400px) scale3d(.95, .95, .95);
        transform: perspective(400px) scale3d(.95, .95, .95);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    to {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
}
@keyframes flip
{
    from
    {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
        transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    40%
    {
        -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
        transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    50%
    {
        -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
        transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    80%
    {
        -webkit-transform: perspective(400px) scale3d(.95, .95, .95);
        transform: perspective(400px) scale3d(.95, .95, .95);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    to
    {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
}
.animated.flip
{
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
    -webkit-animation-name: flip;
    animation-name: flip;
}


@-webkit-keyframes rotateIn {
    0% {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: rotate3d(0, 0, 1, -200deg);
        transform: rotate3d(0, 0, 1, -200deg);
        opacity: 0;
    }

    59%,55% {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: none;
        transform: none;
        opacity: 1;
        transform: scale3d(1.5, 1.5, 1.5);
    }
    100% {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: none;
        transform: none;
        opacity: 1;
        transform: scale3d(1, 1, 1);

    }
}

@keyframes rotateIn {
    0% {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: rotate3d(0, 0, 1, -200deg);
        transform: rotate3d(0, 0, 1, -200deg);
        opacity: 0;
    }

    59%,55% {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: none;
        transform: none;
        opacity: 1;
        transform: scale3d(1.5, 1.5, 1.5);
    }
    100% {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: none;
        transform: none;
        opacity: 1;
        transform: scale3d(1, 1, 1);

    }
}

.rotateIn {
    -webkit-animation-name: rotateIn;
    animation-name: rotateIn;
}




.powerdBy
{
    display: block;
    overflow: hidden;
    width: 7.911%;
    height: 2.214%;
    position: absolute;
    bottom: 1.412%;
    left: 0.391%;
    background: url("../images/POWEREDBY.svg") no-repeat center;
    background-size: 100% 100%;
}
.main-message-container
{
    display: none;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: rgba(0,0,0,0.3);
    z-index: 99999999999999;
}
.inner-message-container
{
    display: block;
    overflow: visible;
    width: 24.539%;
    height: 42.67%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    box-shadow: 0 0 169px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 30px;
    border: 3px solid #e2e2e2;
    background: rgb(219,219,219);
    background: linear-gradient(0deg, rgba(219,219,219,1) 0%, rgba(255,255,255,1) 52%);
}
.reload-btn-message
{
    display: block;
    overflow: hidden;
    width: 12.383%;
    height: 17.12%;
    position: absolute;
    bottom: 12%;
    left: 0;
    right: 0;
    margin: auto;
    background: url("../images/reload.svg") no-repeat center;
    background-size: 100% 100%;
    cursor: pointer;
}
#feedback
{
    display: block;
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

.wellDonw
{
    width: 32.602%;
    height: 7.89%;
    top: 37.93%;
    background-image: url("../images/wellDonw.svg");
}
.goodMessage
{
    width: 19.44%;
    height: 8.17%;
    top: 37.184%;
    background-image: url("../images/good.svg");
}
.tryAgainMessage
{
    width: 57.681%;
    height: 8.451%;
    top: 37.493%;
    background-image: url("../images/tryAgain.svg");
}

#message-icone
{
    display: block;
    overflow: hidden;
    width: 52.98%;
    height: 17.184%;
    position: absolute;
    top: 10.423%;
    left: 0;
    right: 0;
    margin: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}
.wellDonw-icon
{
    background-image: url("../images/message-icon-wellDonw.svg");
}
.good-icon
{
    background-image: url("../images/message-icon-good.svg");
}
.tryAgain-icon
{
    background-image: url("../images/message-icon-tryAgain.svg");
}
.result-text
{
    display: block;
    overflow: hidden;
    width: 16.27%;
    height: 8.2%;
    position: absolute;
    top: 60.141%;
    left: 0;
    right: 0;
    margin: auto;
    background: url("../images/result-text.svg") no-repeat center;
    background-size: 100% 100%;
}
.result-container
{
    display: block;
    overflow: hidden;
    width: 36.991%;
    height: 12.113%;
    position: absolute;
    top: 69.592%;
    left: 0;
    right: 0;
    margin: auto;
    background: url("../images/result.svg") no-repeat center;
    background-size: 100% 100%;
}
.result-container span
{
    display: block;
    overflow: hidden;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 3vmin;
    text-align: center;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.reload
{
    display: block;
    overflow: hidden;
    width: 17.421%;
    height: 15.803%;
    position: absolute;
    bottom: -6.7%;
    left: 0;
    right: 0;
    margin: auto;
    background: url("../images/reload.svg") no-repeat center;
    background-size: 100% 100%;
    cursor: pointer;
}

.arrow-container
{
    display: none;
    overflow: hidden;
    width: 10%;
    height: 14%;
    position: absolute;
    bottom: 0.9%;
    right: 1.6%;
    background: url("../images/joystick.png") no-repeat center;
    background-size: 100% 100%;
}

.arrow-container a
{
    display: block;
    overflow: hidden;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}
.top
{
    width: 21%;
    height: 18%;
    top: 3%;
    left: 0;
    right: 0;
    margin: auto;
    background-image: url("../images/top.png");
}
.bottom
{
    width: 21%;
    height: 18%;
    bottom: 3%;
    left: 0;
    right: 0;
    margin: auto;
    background-image: url("../images/doun.png");
}
.left
{
    width: 17%;
    height: 22%;
    top: 38%;
    left: 2.3%;
    background-image: url("../images/left.png");
}
.right
{
    width: 17%;
    height: 22%;
    top: 38%;
    right: 2.3%;
    background-image: url("../images/right.png");
}
