:root {
    --bghader5: 121,183,234;
    --bghader4: #bee3fb;
    --fontColor: #7950a5;
}
@font-face {
    font-family: open_sans;
    src: url(../font/opensans-light-webfont.eot);
    src: url(../font/opensans-light-webfont.eot?#iefix) format('embedded-opentype'), url(../font/opensans-light-webfont.woff) format('woff'), url(../font/opensans-light-webfont.ttf) format('truetype'), url(../font/opensans-light-webfont.svg#open_sanslight) format('svg');
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: open_sans;
    src: url(../font/opensans-regular-webfont.eot);
    src: url(../font/opensans-regular-webfont.eot?#iefix) format('embedded-opentype'), url(../font/opensans-regular-webfont.woff) format('woff'), url(../font/opensans-regular-webfont.ttf) format('truetype'), url(../font/opensans-regular-webfont.svg#open_sansregular) format('svg');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: open_sans;
    src: url(../font/opensans-semibold-webfont.eot);
    src: url(../font/opensans-semibold-webfont.eot?#iefix) format('embedded-opentype'), url(../font/opensans-semibold-webfont.woff) format('woff'), url(../font/opensans-semibold-webfont.ttf) format('truetype'), url(../font/opensans-semibold-webfont.svg#open_sanssemibold) format('svg');
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: open_sans;
    src: url(../font/opensans-bold-webfont.eot);
    src: url(../font/opensans-bold-webfont.eot?#iefix) format('embedded-opentype'), url(../font/opensans-bold-webfont.woff) format('woff'), url(../font/opensans-bold-webfont.ttf) format('truetype'), url(../font/opensans-bold-webfont.svg#open_sansbold) format('svg');
    font-weight: 600;
    font-style: normal
}
.floating-right
{
    float: right;
}
.floating-left
{
    float: left;
}
.text-right
{
    text-align: right;
}
.text-left
{
    text-align: left;
}
.text-center
{
    text-align: center;
}
.display-block
{
    display: block;
    overflow: hidden;
}
.display-inline-block
{
    display: inline-block;
    overflow: hidden;
}
.clear
{
    clear: both;
}
a
{
    border: none;
    text-decoration: none;
}
*,a,
a:focus {
    outline: none;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background: #fff;
    font-family: open_sans;
    text-align: center;
}
.main-container
{
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.inner-gameContainer
{
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.header-container
{
    display: block;
    overflow: hidden;
    width: 100%;
    height: 10.808%;
    position: absolute;
    top: 0;
    background: var(--bghader4);

}
.inner-header
{
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: url("../images/header.svg") no-repeat center;
    background-size: 100% 100%;
}
.title-icon
{
    display: block;
    overflow: hidden;
    width: 4.883%;
    height: 55.66%;
    background: url("../images/help.svg") no-repeat center;
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 1.758%;
    margin: auto;
    cursor: pointer;
}
.title
{
    display: block;
    overflow: hidden;
    width: 35%;
    height: 70.2%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: rgb(var(--bghader5));
    border-radius: 10px;
}
.title span
{
    display: block;
    overflow: hidden;
    width: 100%;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    color: #ffffff;
    font-size: 5vmin;
}



.text-main-container
{
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    width: 96%;
    height: 85%;
    position: absolute;
    top: 10.8%;
    left: 0;
    right: 0;
    margin: auto;
}
.title-container
{
    display: block;
    overflow: hidden;
    width: 92.253%;
    height: 9.636%;
    position: absolute;
    top: 3.125%;
    left: 0;
    right: 0;
    margin: auto;
}
.line
{
    display: block;
    overflow: hidden;
    width: 100%;
    height: 2%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    border-top: 1px solid var(--bghader);
}
.inner-title
{
    display: block;
    overflow: hidden;
    width: 61.758%;
    height: 100%;
    background: #ffffff;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}
.text-inner-container
{
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    height: 94%;
    position: absolute;
    top: 19.047%;
    left: 0;
    right: 0;
    margin: auto;
}
.text-container
{
    display: block;
    overflow: hidden;
    width: 100%;
    height: 18.447%;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    float: right;
    margin-bottom: 5.3%;
}
.text-container:last-child
{
    margin-bottom: 0;
}
.number-question
{
    display: block;
    overflow: hidden;
    width: 3.352%;
    height: 28.44%;
    position: absolute;
    top: 4%;
    right: 0;
    margin: auto;
    background: rgb(var(--bghader5));
    border-radius: 5px;
}
.number-question span

{
    display: block;
    overflow: hidden;
    width: 100%;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 2.6vmin;
    color: #fff;
    text-align: center;
}
.text-bg-container
{
    display: table;
    overflow: hidden;
    width: 59.7%;
    height: 100%;
    position: absolute;
    right: 4.17%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}
.text-bg-container p
{
    display: table-cell;
    overflow: hidden;
    font-size: 3.9vmin;
    color: var(--fontColor);
    text-align: right;
    line-height: 1.4em;
    direction: rtl;
    vertical-align: top;
}
.trueFalse
{
    display: block;
    overflow: visible;
    width: 34.2%;
    height: 58.23%;
    position: absolute;
    top: 4%;
    left: 0;
}
.true-btn
{
    display: inline-block;
    overflow: hidden;
    width: 48%;
    height: 100%;
    border: 1px solid rgb(var(--bghader5));
    position: absolute;
    left: 0;
    cursor: pointer;
    border-radius: 12px;
}
.true-btn.selected
{
    /*background: #bee3fb85;*/
    background: rgba(var(--bghader5),0.2);
    -webkit-box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow:    0px 5px 0px 0px rgba(0, 0, 0, 0.1);
    box-shadow:         0px 5px 0px 0px rgba(0, 0, 0, 0.1);
}
/*.true-btn.selected span*/
/*{*/
    /*color: #7da23d;*/
/*}*/
.true-btn.selected2
{
    background: #ffd5db;
    border-color: #d06d6d;
}
/*.true-btn.selected2 span*/
/*{*/
    /*color: #ffffff;*/
/*}*/
.false-btn
{
    display: inline-block;
    overflow: hidden;
    width: 48%;
    height: 100%;
    border: 1px solid rgb(var(--bghader5));
    position: absolute;
    right: 0;
    cursor: pointer;
    border-radius: 12px;
}
.false-btn.selected
{
    background: rgba(var(--bghader5),0.2);
    -webkit-box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow:    0px 5px 0px 0px rgba(0, 0, 0, 0.1);
    box-shadow:         0px 5px 0px 0px rgba(0, 0, 0, 0.1);
}
.false-btn.selected span
{
    /* color: #7da23d; */
}
.false-btn.selected2
{
    background: #ffd5db;
    border-color: #d06d6d;
}
/*.false-btn.selected2 span*/
/*{*/
    /*color: #ffffff;*/
/*}*/
.true-btn span,
.false-btn span
{
    display: block;
    overflow: hidden;
    width: 100%;
    position: absolute;
    top: 50%;
    text-align: center;
    font-size: 3.9vmin;
    color: var(--fontColor);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.poweredBy
{
    display: block;
    overflow: hidden;
    width: 12.696%;
    height: 3.516%;
    background: url("../images/POWEREDBY.svg") no-repeat center;
    background-size: 100% 100%;
    position: absolute;
    bottom: 2.693%;
    left: 2.247%;
    z-index: 999;
}
.footer
{
    display: block;
    overflow: hidden;
    width: 100%;
    height: 4.037%;
    position: absolute;
    bottom: 0;
    background: rgb(var(--bghader5));
}
.help-main-popup
{
    display: none;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: rgba(39,39,39,0.3);
    z-index: 99999999;
}
.inner-help-popup
{
    display: block;
    overflow: hidden;
    width: 82.618%;
    height: 84.896%;
    background: #ffffff;
    border: 1px solid #ffbf31;
    border-radius: 15px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.inner-help-popup iframe
{
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 10px;
    background: transparent;
}
.close
{
    display: block;
    overflow: hidden;
    width: 2.7%;
    height: 3.5%;
    position: absolute;
    top: 1.5%;
    left: 1.6%;
    cursor: pointer;
    background: url("../images/close.svg") no-repeat center;
    background-size: 100% 100%;
}
.main-message-container,
.main-message-container_nextMessage
{
    display: none;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 99999999;
}
.inner-message-container
{
    display: block;
    overflow: visible;
    width: 31.153%;
    height: 46.224%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    box-shadow: 0 0 169px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 30px;
    border: 3px solid #e2e2e2;
    background: rgb(219,219,219);
    background: linear-gradient(0deg, rgba(219,219,219,1) 0%, rgba(255,255,255,1) 52%);
}
.main-message-container_nextMessage .inner-message-container
{
    display: block;
    overflow: visible;
    width: 23%;
    height: 23%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    box-shadow: 0 0 169px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 30px;
    border: 3px solid #e2e2e2;
    background: rgb(219,219,219);
    background: linear-gradient(0deg, rgba(219,219,219,1) 0%, rgba(255,255,255,1) 52%);
}
#feedback,
#feedback1
{
    display: block;
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

.wellDonw
{
    width: 32.602%;
    height: 7.89%;
    top: 37.93%;
    background-image: url("../images/wellDonw.svg");
}
.good
{
    width: 19.44%;
    height: 8.17%;
    top: 37.184%;
    background-image: url("../images/good.svg");
}
.tryAgain
{
    width: 57.681%;
    height: 8.451%;
    top: 37.493%;
    background-image: url("../images/tryAgain.svg");
}
.main-message-container_nextMessage .wellDonw
{
    width: 48%;
    height: 36%;
    top: 0;
    bottom: 0;
    background-image: url("../images/wellDonw.svg");
}

#message-icone
{
    display: block;
    overflow: hidden;
    width: 52.98%;
    height: 17.184%;
    position: absolute;
    top: 10.423%;
    left: 0;
    right: 0;
    margin: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}
.wellDonw-icon
{
    background-image: url("../images/message-icon-wellDonw.svg");
}
.good-icon
{
    background-image: url("../images/message-icon-good.svg");
}
.tryAgain-icon
{
    background-image: url("../images/message-icon-tryAgain.svg");
}
.result-text
{
    display: block;
    overflow: hidden;
    width: 13.17%;
    height: 3.944%;
    position: absolute;
    top: 60.141%;
    left: 0;
    right: 0;
    margin: auto;
    background: url("../images/result-text.svg") no-repeat center;
    background-size: 100% 100%;
}
.result-container
{
    display: block;
    overflow: hidden;
    width: 36.991%;
    height: 12.113%;
    position: absolute;
    top: 69.592%;
    left: 0;
    right: 0;
    margin: auto;
    background: url("../images/result.svg") no-repeat center;
    background-size: 100% 100%;
}
.result-container span
{
    display: block;
    overflow: hidden;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 3vmin;
    text-align: center;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    pointer-events: none;
}
.reload
{
    display: block;
    overflow: hidden;
    width: 17.421%;
    height: 15.803%;
    position: absolute;
    bottom: -6.7%;
    left: 0;
    right: 0;
    margin: auto;
    background: url("../images/reload.svg") no-repeat center;
    background-size: 100% 100%;
}

.next-scene
{
    display: block;
    overflow: hidden;
    width: 23.97%;
    height: 32.24%;
    position: absolute;
    bottom: -13.5%;
    right: 0;
    left: 0;
    margin: auto;
    background: url("../images/next2.svg") no-repeat center;
    background-size: 100% 100%;
    cursor: pointer;
    z-index: 9999;
}

.jq_addquestion {
    position: absolute;
    right: 0.5%;
    bottom: 3.5%;
    width: 2.9%;
    height: 5%;
    background: url(../images/plus.svg) no-repeat;
    background-size: 100%;
    background-position: center;
    cursor: pointer;
    z-index: 999999999999;
}
.jq_deletei {
    width: 1.7%;
    height: 14.8%;
    position: absolute;
    background: url(../images/remove.svg) no-repeat;
    background-size: contain;
    background-position: center;
    top: 0%;
    cursor: pointer;
    right: 0.7%;
    z-index: 1;
}