@media only screen and (device-width: 1024px) and (device-height: 1366px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: portrait)
{
    .inner-pages-main-container-view-item .center-content .right-container .header-right {
        width: 100% !important;
        background-position: center;
        background-color: #4f4f4f;
    }
    .inner-pages-main-container-view-item .tab__content li .content__wrapper.first-tab-content .buttons-container .left-button {
        display: inline-block;
        overflow: hidden;
        float: none;
    }
    .inner-pages-main-container-view-item .tab__content li .content__wrapper.first-tab-content .bottom-container .item-container {
        height: 30px !important;
        line-height: 30px !important;
        float: none !important;
        margin: 0px 10px 0px 0px !important;
    }
    .inner-pages-main-container-view-item .tab__content li .content__wrapper.first-tab-content .bottom-container .item-container .number {
        padding: 0 1px !important;
        width: 48px !important;
        font-size: 12px !important;
    }
    .inner-pages-main-container-view-item .tab__content li .content__wrapper.first-tab-content .bottom-container .item-container:first-child, .inner-pages-main-container-view-item .tab__content li .content__wrapper.first-tab-content .bottom-container .item-container:nth-child(3) {
        margin: 0 10px 0 0 !important;
    }
    .inner-pages-main-container-view-item .tab__content li .content__wrapper.first-tab-content .bottom-container {
        margin: 5px 0px 25px !important;
    }
    .inner-pages-main-container-view-item .related-content-container #slider .item-container-book-ar {
        width: 86% !important;
    }
    .inner-pages-main-container-view-item .related-content-container #slider .item-container-book-ar .book-container {
        margin: 0 0 0 !important;
    }
    .inner-pages-main-container-view-item .related-content-container #slider .item-container-book-ar .book-container .libro {
        margin: 0 -24px 0 8px !important;
        height: 255px !important;
    }
    .inner-pages-main-container-view-item .related-content-container #slider .item-container-book-ar .title-sub-container a.title {
        max-width: 200px !important;
    }
    .inner-pages-main-container-view-item .related-content-container #slider .item-container-work-sheet {
        width: 91%;
        margin: 40px 0 0 10px;
    }
    .inner-pages-main-container-view-item .related-content-container #slider .item-container-book {
        width: 86% !important;
        height: auto !important;
    }
    .inner-pages-main-container-view-item .related-content-container #slider .item-container-book .book-container {
        margin: 0 0 0 !important;
    }
    .inner-pages-main-container-view-item .related-content-container #slider .item-container-book .book-container .libro {
        margin: 0 -24px 0 8px !important;
        height: 255px !important;
    }
    .inner-pages-main-container-view-item .related-content-container #slider .item-container-book .title-sub-container a.title {
        max-width: 200px !important;
    }
    .slick-slide {
        margin: 0 0 0 22px;
    }
    .inner-pages-main-container-view-item .related-content-container #slider .item-container-book-ar {
        width: 89% !important;
    }
    .inner-pages-main-container-view-item .related-content-container #slider .item-container-book {
        width: 89% !important;
    }
    .inner-pages-main-container-view-item .related-content-container #slider .item .inset .media-item {
        width: 200px;
        height: 163px;
        top: 50px;
    }
    .inner-pages-main-container-view-item .related-content-container #slider.frame .item .inset .games-item .game-thumb {
        width: 169px !important;
    }
    .inner-pages-main-container-view-item .tab__content li .content__wrapper.first-tab-content .buttons-container .right-button .with-icon:hover {
        background-color: auto !important;
    }
}
@media only screen and (device-height: 1024px) and (device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: landscape)
{
    .inner-pages-main-container-view-item .center-content .right-container .header-right {
        width: 100% !important;
        background-position: center;
        background-color: #4f4f4f;
    }
    .inner-pages-main-container-view-item .tab__content li .content__wrapper.first-tab-content .buttons-container .left-button {
        display: inline-block;
        overflow: hidden;
        float: none;
    }
    .inner-pages-main-container-view-item .tab__content li .content__wrapper.first-tab-content .bottom-container .item-container {
        height: 30px !important;
        line-height: 30px !important;
        float: none !important;
        margin: 0px 10px 0px 0px !important;
    }
    .inner-pages-main-container-view-item .tab__content li .content__wrapper.first-tab-content .bottom-container .item-container .number {
        padding: 0 1px !important;
        width: 48px !important;
        font-size: 12px !important;
    }
    .inner-pages-main-container-view-item .tab__content li .content__wrapper.first-tab-content .bottom-container .item-container:first-child, .inner-pages-main-container-view-item .tab__content li .content__wrapper.first-tab-content .bottom-container .item-container:nth-child(3) {
        margin: 0 10px 0 0 !important;
    }
    .inner-pages-main-container-view-item .tab__content li .content__wrapper.first-tab-content .bottom-container {
        margin: 5px 0px 25px !important;
    }
    .inner-pages-main-container-view-item .related-content-container #slider .item-container-book-ar {
        width: 86% !important;
    }
    .inner-pages-main-container-view-item .related-content-container #slider .item-container-book-ar .book-container {
        margin: 0 0 0 !important;
    }
    .inner-pages-main-container-view-item .related-content-container #slider .item-container-book-ar .book-container .libro {
        margin: 0 -24px 0 38px !important;
        height: 275px !important;
    }
    .inner-pages-main-container-view-item .related-content-container #slider .item-container-book-ar .title-sub-container a.title {
        max-width: 200px !important;
    }
    .slick-slide {
        margin: 0 0 0 10px;
    }
    .inner-pages-main-container-view-item .related-content-container #slider .item-container-work-sheet {
        width: 91%;
        margin: 40px 0 0 10px;
    }
    .inner-pages-main-container-view-item .related-content-container #slider .item-container-book {
        width: 86% !important;
        height: auto !important;
    }
    .inner-pages-main-container-view-item .related-content-container #slider .item-container-book .book-container {
        margin: 0 0 0 !important;
    }
    .inner-pages-main-container-view-item .related-content-container #slider .item-container-book .book-container .libro {
        margin: 0 -24px 0 8px !important;
        height: 255px !important;
    }
    .inner-pages-main-container-view-item .related-content-container #slider .item-container-book .title-sub-container a.title {
        max-width: 200px !important;
    }
    .slick-slide {
        margin: 0 0 0 10px;
    }
    .inner-pages-main-container-view-item .related-content-container #slider .item-container-book, .inner-pages-main-container-view-item .related-content-container #slider .item-container-book-ar, .inner-pages-main-container-view-item .related-content-container #slider .item-container-work-sheet {
        width: 260px !important;
    }

    .inner-pages-main-container-view-item .tab__content li .content__wrapper.first-tab-content .buttons-container .right-button .with-icon:hover {
        background-color: auto !important;
    }

}