/*.floating-right*/
/*{*/
/*float: right;*/
/*}*/
/*.floating-left*/
/*{*/
/*float: left;*/
/*}*/

.message-main-container {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10000000;
    top: 0
}

.message-container {
    display: block;
    overflow: visible;
    width: 504px;
    height: 196px;
    background-color: #e5c28a;
    -webkit-box-shadow: 0 2px 4px rgba(193, 172, 114, .5), inset 0 -1px 1px #ad7a32;
    -moz-box-shadow: 0 2px 4px rgba(193, 172, 114, .5), inset 0 -1px 1px #ad7a32;
    box-shadow: 0 2px 4px rgba(193, 172, 114, .5), inset 0 -1px 1px #ad7a32;
    position: absolute;
    border: 6px solid #fff6d8;
    border-radius: 15px;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}

.line-row-message {
    display: block;
    overflow: visible;
    margin: 20px 10px 0 0;
}

.lbl-data-message {
    display: block;
    overflow: visible;
    width: 57%;
}

.lbl-data-message span,
.lbl-data-sort-msg {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 50%;
    line-height: 64px;
    font-family: 'Droid Arabic Kufi';
    font-size: 4vmin;
    text-align: justify;
    color: #32100c;
    direction: rtl;
    padding: 0 5px 0 0;
}

.colse-btn, .ok-btn {
    display: block;
    overflow: hidden;
    width: 59px;
    height: 61px;
    width: 67px;
    height: 61px;
    cursor: pointer;
    position: absolute;
    bottom: -14%;
    /*border-radius: 100%;*/
    /*border: 3px solid #fff;*/
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.ok-btn {
    /*background-color: #3fb3ab;*/
    /*box-shadow: -4px -1px 0 3px #3fb3ab inset, 0 5px 5px rgba(65, 8, 8, 0.17), 0 10px rgba(255, 255, 255, 0.25) inset,1px 2px 0px rgba(0, 0, 0, .4);*/
    background-image: url("../images/ok.svg");
    right: 35%;
}

.colse-btn {
    /*background-color: #e4392d;*/
    /*box-shadow: -4px -1px 0 3px #e4392d inset, 0 5px 5px rgba(65, 8, 8, 0.17), 0 10px rgba(255, 255, 255, 0.25) inset,1px 2px 0px rgba(0, 0, 0, .4);*/
    background-image: url("../images/back.svg");
    left: 36%;
}

.colse-btn i:before, .ok-btn i:before {
    font-size: 27px;
    color: #fff;
    line-height: 60px;
    text-align: center;
    margin-left: 13px;
}

.ok-btn i:before {
    margin-left: 15px;
}

.message-img {
    display: block;
    overflow: hidden;
    width: 43%;
    height: 65%;
    position: absolute;
    right: 0;
}

.sort-btn {
    overflow: hidden;
    font-size: inherit;
    background: none;
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    background: #f67c50;
    color: #fff;
    box-shadow: 0 6px #e7663e;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
    margin: 0 20px 0 0;
    border-radius: 6px;
    font-family: 'Droid Arabic Kufi';
    width: 130px;
    height: 50px;
    font-size: 2vmin;
    line-height: 50px;
    text-align: center;
}

.sort-btn:hover {
    box-shadow: 0 0 #e7663e;
    top: 6px;
}

#pointerhand {
    z-index: 999;
    position: absolute;
    width: auto;
    height: auto;
    max-width: 200%;
    max-height: 200%;
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-animation: leaves 1s ease-in-out infinite alternate;
    animation: leaves 1s ease-in-out infinite alternate;
    left: -50%;
}

@-webkit-keyframes leaves {
    0% {
        -webkit-transform: scale(1.0);
    }
    100% {
        -webkit-transform: scale(1.2);
    }
}

@keyframes leaves {
    0% {
        transform: scale(1.0);
    }
    100% {
        transform: scale(1.2);
    }
}

