/* Space out content a bit */
.floating-left {
    float: left;
}
.floating-right {
    float: right;
}
.clear-both {
    clear: both;
}
a {
    cursor: pointer;
    text-decoration: none;
}
/**:not(canvas) {*/
/*outline: none;*/
/*box-sizing: border-box;*/
/*-webkit-transition: all .3s;*/
/*-moz-transition: all .3s;*/
/*-ms-transition: all .3s;*/
/*-o-transition: all .3s;*/
/*transition: all .3s;*/
/*}*/
*:before {
    outline: none;
    box-sizing: border-box;
    -webkit-transition: all 0s;
    -moz-transition: all 0s;
    -ms-transition: all 0s;
    -o-transition: all 0s;
    transition: all 0s;
}
::-webkit-scrollbar {
    height: 9px;
    width: 9px;
}
::-webkit-scrollbar-track {
    background-color: #eaeaea;
    /*border-left: 1px solid #8A8383;*/
    /*border-right: 1px solid #8A8383; */
    /*border-top: 1px solid #8A8383;*/
    /*border-bottom: 1px solid #8A8383;*/
}
::-webkit-scrollbar-thumb {
    background-color: #00AB67;
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(5, 54, 92, 0.5);
}

body {
    /*padding-top: 20px;*/
    /*padding-bottom: 20px;*/
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */


    /*background: #abbaab; !* fallback for old browsers *!*/
    /*background: -webkit-linear-gradient(to left, #abbaab , #ffffff); !* Chrome 10-25, Safari 5.1-6 *!*/
    /*background: linear-gradient(to left, #abbaab , #ffffff); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/

}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 1024px) {
    .container {
        max-width: 900px;
    }
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
}

.controls {

    text-align: center;
}

.controls .btn {
    margin-bottom: 15px;
}

@media screen and (min-width: 990px) {
    .controls .mark-controls {
        display: inline;
    }
}

.lead {
    text-align: center;
    padding: 20px;
}

#waveform {
    position: relative;
}

#progress-bar {
    position: absolute;
    z-index: 10;
    top: 50%;
    margin-top: -10px;
    left: 5%;
    width: 90%;
}

#drop {
    border: 3px dashed #ddd;
    padding: 30px;
}

#drop.wavesurfer-dragover {
    border-color: #333;
}

.infoBoxes{
    display: inline-block;
    position: relative;
    float: left;
    margin: 0 10px;
    width: 25%;
}

#demo{
    border: 1px solid #B5B4B4;
}

.textContainer{
    /*display: inline-table;*/
    text-align: right;
    font-size: 24px;
    text-align: justify;
    direction: rtl;
    overflow-y: auto;
    overflow-x: hidden;
    height: 116px;
}

.textAll{
    cursor: pointer;
}

#subtitle{
    color: #00AB67;
    font-size: 45px;
    border: 1px solid #B9B9B9;
    direction: rtl;
    height: 65px;
}

#slider
{

}
.col-sm-3{
    position: absolute;
    left: 37px;
    top: 100px;
}
input[type=range] {
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
    height: 15px;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #B6B6B6;
    border-radius: 25px;
    border: 1px solid #8A8A8A;
}
input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #828282;
    border: 1px solid #8A8A8A;
    height: 15px;
    width: 35px;
    border-radius: 6px;
    background: #DADADA;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #B6B6B6;
}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #B6B6B6;
    border-radius: 25px;
    border: 1px solid #8A8A8A;
}
input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #828282;
    border: 1px solid #8A8A8A;
    height: 15px;
    width: 35px;
    border-radius: 6px;
    background: #DADADA;
    cursor: pointer;
}
input[type=range]::-ms-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #B6B6B6;
    border: 1px solid #8A8A8A;
    border-radius: 50px;
    box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
    background: #B6B6B6;
    border: 1px solid #8A8A8A;
    border-radius: 50px;
    box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #828282;
    border: 1px solid #8A8A8A;
    height: 16px;
    width: 35px;
    border-radius: 6px;
    background: #DADADA;
    cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
    background: #B6B6B6;
}
input[type=range]:focus::-ms-fill-upper {
    background: #B6B6B6;
}


#waveform{
    background: white;
}
.waveformGrid {
    background-size: 40px 40px;
    background-image:repeating-linear-gradient(0deg, #4e4e4e, #4e4e4e 2px, transparent 2px, transparent 10px),repeating-linear-gradient(-90deg, #4e4e4e, #4e4e4e 2px, transparent 2px, transparent 10px);
    height:100%;
    width:100%;
    opacity:0.14;
    position:absolute;
    top:0;
    left:0;
    z-index:999999;
    pointer-events: none;
}

.waveformGrid div {
    border: 1px solid #8E8B8B;
    border-width: 0 1px 1px 0;
    float: left;
}

/*================================================*/

.popup-container
{
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background: #fff;
    -webkit-box-shadow: 0 10px 6px -6px #000;
    -moz-box-shadow: 0 10px 6px -6px #000;
    box-shadow: 0 10px 6px -6px #000;
    border: 1px solid rgba(0,0,0,.8);
}
.popup-title-container
{
    display: block;
    overflow: hidden;
    width: 100%;
    height: 40px;
    background: #00AB67;
    margin: 0 0 15px 0;
}
.popup-title-container label
{
    display: block;
    overflow: hidden;
    color: white;
    width: calc(100% - 50px);
    line-height: 40px;
    text-align: center;
}
.popup-title-container a
{
    display: block;
    overflow: hidden;
    width: 25px;
    height: 25px;
    color: #fff;
    margin: 8px 0 0 15px;
}
.popup-title-container i
{
    display: block;
    overflow: hidden;
    height: 24px;
    line-height: 24px;
    text-align: center;
}
#waveform wave
{
    width: 100%;
}
.slider-container
{
    display: block;
    overflow: hidden;
    width: 57%;
    margin: 0 auto;
}
.btn-backround
{
    color: #fff;
    background-color: #00AB67;
    border-color: #00AB67;
}
.btn-backround:hover, .btn-backround:focus, .btn-backround.focus
{
    color: #fff;
    opacity: 0.7;
}
.infoBoxes label
{
    text-align: left;
    line-height: 40px;
    font-size: 15px;
    color: #00AB67;
    margin: 0 10px 0 0;
    width: 17%;
}
.infoBoxes input
{
    height: 40px;
    border: 1px solid #00AB67;
    padding: 0 5px;
    color: #00AB67;
    width: 75%;
}
.nav-pills
{
    display: inline-block;
}



.liSorting a
{
    position: absolute;
    left: 0;
    top: 0px;
    padding: 0;
    margin: 0;
    width: 15px;
    height: 15px;
    color: #00AB67;
}
.liSorting a i
{
    display: block;
    overflow: hidden;
    height: 15px;
    line-height: 15px;
    text-align: center;
}
.liSorting a i:before
{
    font-size: 15px;
}

.sortingArrayShow{
    font-size: 24px;
    text-align: justify;
    direction: rtl;
    overflow-y: auto;
    overflow-x: hidden;
    height: 116px;
    border: 1px solid #d411c9;
    background: #d3dbd0;

}
.sortingArrayShow span{
    display: inline-block;
    margin: 5px;
}
.sortingArrayShow .headerbox{
    background: #569a56;
    border-bottom: 1px solid #f5fafa;
    color: wheat;
    font-size: 16px;
}
.textContainer .headerbox{
    background: #569a56;
    border-bottom: 1px solid #f5fafa;
    color: wheat;
    font-size: 16px;
}

