#manhalpreOverlay
{
	background-color: #ffffff;
	/*background-image: url("../images/loaderbg.jpg");*/
	/*background-size: contain;*/
	/*background-repeat: no-repeat;*/
	/*background-position: center;*/
	width: 100%;
	height: 100%;
	margin: 0;
}
#manhalpreSlide
{
	font-size:22px;
	font-weight:bold;
	color:#ccc;
	text-align:center;
	width:50%;
	height:30%;
}
#manhalloader{
	width: 40.918%;
	height: 3.516%;
	border: 4px inset #854400;
	border-radius:25px;
	-moz-border-radius:25px;
	-webkit-border-radius:25px;
	/*background: rgb(255, 255, 255);*/
	/*background: -moz-linear-gradient(90deg, rgb(255, 255, 255) 10%, rgb(243, 225, 153) 90%);*/
	/*background: -webkit-linear-gradient(90deg, rgb(255, 255, 255) 10%, rgb(243, 225, 153) 90%);*/
	/*background: -o-linear-gradient(90deg, rgb(255, 255, 255) 10%, rgb(243, 225, 153) 90%);*/
	/*background: -ms-linear-gradient(90deg, rgb(255, 255, 255) 10%, rgb(243, 225, 153) 90%);*/
	/*background: linear-gradient(180deg, rgb(255, 255, 255) 10%, rgb(243, 225, 153) 90%);*/
}
#manhalpreBar {
	border-radius:25px;
	-moz-border-radius:25px;
	-webkit-border-radius:25px;
	/*background: repeating-linear-gradient(*/
			/*-55deg,*/
			/*#44bfc8,*/
			/*#44bfc8 10px,*/
			/*#00aab9 10px,*/
			/*#00aab9 20px  );*/
}

#manhalprePercentage {
	color:#ccc;
	font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;
	font-weight:bold;
	text-align:center;
	text-shadow:1px 1px 1px #333;
	top:-50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

/*===============================================*/


.manhal-main-loader {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.manhal-main-loader .loader-effect {
	width: 130px;
	height: 130px;
	position: absolute;
	top: 50%;
	left: 50%;
	background: #6eb757;
	border-radius: 400px;
	-webkit-clip-path: polygon(0% 50%, 100% 50%, 100% 100%, 0% 100%);
	clip-path: polygon(0% 50%, 100% 50%, 100% 100%, 0% 100%);
	animation: rotate 1s infinite linear;
	transition: all 0.25s ease-in-out;
}

.manhal-main-loader .loader-effect:before {
	z-index: 1;
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 100%;
	background: #fff;
	left: 2%;
	top: 1%;
}

.manhal-main-loader .logo-loader {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	background: url(../images/logo.svg) no-repeat;
	background-size: contain;
	background-position: 50% 49%;
	width: 2.9em;
	animation-name: loader-effect;
	animation-duration: 5.0s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-play-state: running;
}

.manhal-main-loader .loader-effect .checkmark {
	display: none;
}

.manhal-main-loader .loader-effect .checkmark.draw:after {
	animation-duration: 800ms;
	animation-timing-function: ease;
	animation-name: checkmark;
	transform: scaleX(-1) rotate(135deg);
}

.manhal-main-loader .loader-effect .checkmark:after {
	opacity: 1;
	height: 3.5em;
	width: 1.75em;
	transform-origin: left top;
	border-right: 3px solid #6eb757;
	border-top: 3px solid #6eb757;
	content: '';
	left: 1.75em;
	top: 3.5em;
	position: absolute;
}

@keyframes loader-effect {
	0% { /*background: rgba(0,0,0,0.1);*/
		opacity: 0.2;
	}
	20% { /*background: rgba(0,0,0,0.1);*/
		opacity: 0.6;
	}
	40% { /*background: rgba(0,0,0,0.9);*/
		opacity: 1;
	}
	100% { /*background: rgba(0,0,0,0.9);*/
		opacity: 0.2;
	}
}

@keyframes rotate {
	0% {
		transform: translate(-50%, -50%) rotate(0deg);
	}
	100% {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}