<html>
<meta charset="UTF-8">
<head>
    <title>دار المنهل</title>
</head>
<style>
    *{
        direction: rtl;
    }
</style>
<body style='margin: 0px; font-family: Tahoma; font-size: 13px; color: #252525;'>
<div style='width: 100%; min-width: 400px; display: block; overflow: hidden;'>
    <div style='width: 100%; min-width: 400px; display: block; overflow: hidden;background:#fff;border-bottom:2px solid #00a951'>
        <div style='display: block; overflow: hidden; height: 80px; background: rgba(0,0,0,.5); '>
            <a href='#' target='_blank'
               style='display: block; overflow: hidden; min-width: 215px;  margin: 0px 30px 0 0px; float: right;width: 180px;}'>
                <img src="#Manhal_logo#" style=" width: 190px; height: 75px;"/>
            </a>
        </div>
    </div>
    <div style='display: block; overflow: hidden; margin: 20px 30px;'>
        <div style='display: block; overflow: hidden;'>
            <label style='display: block; overflow: hidden; float: right; height: 30px; line-height: 30px; font-weight: bold; font-family: Tahoma; font-size: 14px; color: #252525;'>معلومات المستخدم :</label>
        </div>
        <div style='display: block; overflow: hidden;'>
            <label style='display: block; overflow: hidden; float: right; height: 30px; line-height: 30px; font-weight: bold; font-family: Tahoma; font-size: 14px; color: #252525;'>الأسم :</label>
            <label style='display: block; overflow: hidden; float: right; height: 30px; line-height: 30px; font-weight: normal; font-family: Tahoma; font-size: 14px; color: #252525; margin: 0px 10px 0px 0px'>#Manhal_user_name#</label>
        </div>
        <div style='display: block; overflow: hidden;'>
            <label style='display: block; overflow: hidden; float: right; height: 30px; line-height: 30px; font-weight: bold; font-family: Tahoma; font-size: 14px; color: #252525;'>البريد الالكتروني :</label>
            <label style='display: block; overflow: hidden; float: right; height: 30px; line-height: 30px; font-weight: normal; font-family: Tahoma; font-size: 14px; color: #252525;margin: 0px 10px 0px 0px'>#Manhal_email#</label>
        </div>
        <div style='display: block; overflow: hidden;'>
            <label style='display: block; overflow: hidden; float: right; height: 30px; line-height: 30px; font-weight: bold; font-family: Tahoma; font-size: 14px; color: #252525;'>التصنيف :</label>
            <label style='display: block; overflow: hidden; float: right; height: 30px; line-height: 30px; font-weight: normal; font-family: Tahoma; font-size: 14px; color: #252525;margin: 0px 10px 0px 0px'>#Manhal_Idea#</label>
        </div>
        <div style='display: block; overflow: hidden;'>
            <label style='display: block; overflow: hidden; float: right; height: 30px; line-height: 30px; font-weight: bold; font-family: Tahoma; font-size: 14px; color: #252525;'>الموضوع :</label>
            <label style='display: block; overflow: hidden; float: right; height: 30px; line-height: 30px; font-weight: normal; font-family: Tahoma; font-size: 14px; color: #252525;margin: 0px 10px 0px 0px'>#Manhal_subject#</label>
        </div>
        <div style='display: block; overflow: hidden;'>
            <label style='display: block; overflow: hidden; float: right; height: 30px; line-height: 30px; font-weight: bold; font-family: Tahoma; font-size: 14px; color: #252525;'>الرسالة :</label>
            <label style='display: block; overflow: hidden; float: right; height: 30px; line-height: 30px; font-weight: n; font-family: Tahoma; font-size: 14px; color: #252525; margin: 0px 10px 0px 0px'>#Manhal_MSG#</label>
        </div>
    </div>
    <div style='display: block; overflow: hidden; margin: 15px 0 0 0; padding: 10px 50px; border-top: dotted 1px #c2c2c2'>
        <label style='display: block; overflow: hidden; float: right; line-height: 20px; font-family: Tahoma; font-size: 13px; color: #252525;'>
            فريق دار المنهل ,
        </label>
    </div>
</div>
</body>
</html>