<html>
<meta charset="UTF-8">
<head>
    <title>Dar Al-manhal</title>
</head>
<body style='margin: 0px; font-family: Tahoma; font-size: 13px; color: #252525;'>
<div style='width: 100%; min-width: 400px; display: block; overflow: hidden;'>
    <div style='width: 100%; min-width: 400px; display: block; overflow: hidden;background:#fff;border-bottom:2px solid #00a951'>
        <div style='display: block; overflow: hidden; height: 80px; background: rgba(0,0,0,.5); '>
            <a href='#' target='_blank'
               style='display: block; overflow: hidden; min-width: 215px;  margin: 0 0 0 30px; float: left;width: 180px;}'>
                <img src="#Manhal_logo#" style="width: 190px; height: 75px;"/>
            </a>
        </div>
    </div>
    <div style='display: block; overflow: hidden; margin: 20px 30px;'>
        <div style='display: block; overflow: hidden;'>
            <label style='display: block; overflow: hidden; float: left; height: 30px; line-height: 30px; font-weight: bold; font-family: Tahoma; font-size: 14px; color: #252525;'>Invoice Information :</label>
        </div>
        <div style='display: block; overflow: hidden;'>
            <label style='display: block; overflow: hidden; float: left; height: 30px; line-height: 30px; font-weight: bold; font-family: Tahoma; font-size: 14px; color: #252525;'>Number :</label>
            <label style='display: block; overflow: hidden; float: left; height: 30px; line-height: 30px; font-weight: normal; font-family: Tahoma; font-size: 14px; color: #252525; margin: 0 0 0 10px'>#Manhal_Number#</label>
        </div>
        <div style='display: block; overflow: hidden;'>
            <label style='display: block; overflow: hidden; float: left; height: 30px; line-height: 30px; font-weight: bold; font-family: Tahoma; font-size: 14px; color: #252525;'>Full Name :</label>
            <label style='display: block; overflow: hidden; float: left; height: 30px; line-height: 30px; font-weight: normal; font-family: Tahoma; font-size: 14px; color: #252525; margin: 0 0 0 10px'>#Manhal_Name#</label>
        </div>
        <div style='display: block; overflow: hidden;'>
            <label style='display: block; overflow: hidden; float: left; height: 30px; line-height: 30px; font-weight: bold; font-family: Tahoma; font-size: 14px; color: #252525;'>E-mail:</label>
            <label style='display: block; overflow: hidden; float: left; height: 30px; line-height: 30px; font-weight: normal; font-family: Tahoma; font-size: 14px; color: #252525;margin: 0 0 0 10px'>#Manhal_mail#</label>
        </div>
        <div style='display: block; overflow: hidden;'>
            <label style='display: block; overflow: hidden; float: left; height: 30px; line-height: 30px; font-weight: bold; font-family: Tahoma; font-size: 14px; color: #252525;'>Address :</label>
            <label style='display: block; overflow: hidden; float: left; height: 30px; line-height: 30px; font-weight: normal; font-family: Tahoma; font-size: 14px; color: #252525;margin: 0 0 0 10px'>#Manhal_Address#</label>
        </div>
        <div style='display: block; overflow: hidden;'>
            <label style='display: block; overflow: hidden; float: left; height: 30px; line-height: 30px; font-weight: bold; font-family: Tahoma; font-size: 14px; color: #252525;'>Country :</label>
            <label style='display: block; overflow: hidden; float: left; height: 30px; line-height: 30px; font-weight: normal; font-family: Tahoma; font-size: 14px; color: #252525; margin: 0 0 0 10px'>#Manhal_Country#</label>
        </div>
        <div style='display: block; overflow: hidden;'>
            <label style='display: block; overflow: hidden; float: left; height: 30px; line-height: 30px; font-weight: bold; font-family: Tahoma; font-size: 14px; color: #252525;'>City :</label>
            <label style='display: block; overflow: hidden; float: left; height: 30px; line-height: 30px; font-weight: normal; font-family: Tahoma; font-size: 14px; color: #252525; margin: 0 0 0 10px'>#Manhal_City#</label>
        </div>
        <div style='display: block; overflow: hidden;'>
            <label style='display: block; overflow: hidden; float: left; height: 30px; line-height: 30px; font-weight: bold; font-family: Tahoma; font-size: 14px; color: #252525;'>Product Name :</label>
            <label style='display: block; overflow: hidden; float: left; height: 30px; line-height: 30px; font-weight: normal; font-family: Tahoma; font-size: 14px; color: #252525; margin: 0 0 0 10px'>#Manhal_ProductName#</label>
        </div>
        <div style='display: block; overflow: hidden;'>
            <label style='display: block; overflow: hidden; float: left; height: 30px; line-height: 30px; font-weight: bold; font-family: Tahoma; font-size: 14px; color: #252525;'>Price :</label>
            <label style='display: block; overflow: hidden; float: left; height: 30px; line-height: 30px; font-weight: normal; font-family: Tahoma; font-size: 14px; color: #252525; margin: 0 0 0 10px'>#Manhal_Price#</label>
        </div>
        <div style='display: block; overflow: hidden;'>
            <label style='display: block; overflow: hidden; float: left; height: 30px; line-height: 30px; font-weight: bold; font-family: Tahoma; font-size: 14px; color: #252525;'>Shipping Price :</label>
            <label style='display: block; overflow: hidden; float: left; height: 30px; line-height: 30px; font-weight: normal; font-family: Tahoma; font-size: 14px; color: #252525; margin: 0 0 0 10px'>#Manhal_ShippingPrice#</label>
        </div>
        <div style='display: block; overflow: hidden;'>
            <label style='display: block; overflow: hidden; float: left; height: 30px; line-height: 30px; font-weight: bold; font-family: Tahoma; font-size: 14px; color: #252525;'>Shipping Method :</label>
            <label style='display: block; overflow: hidden; float: left; height: 30px; line-height: 30px; font-weight: normal; font-family: Tahoma; font-size: 14px; color: #252525; margin: 0 0 0 10px'>#Manhal_ShippingMethod#</label>
        </div>
        <div style='display: block; overflow: hidden;'>
            <label style='display: block; overflow: hidden; float: left; height: 30px; line-height: 30px; font-weight: bold; font-family: Tahoma; font-size: 14px; color: #252525;'>TotalPrice :</label>
            <label style='display: block; overflow: hidden; float: left; height: 30px; line-height: 30px; font-weight: normal; font-family: Tahoma; font-size: 14px; color: #252525; margin: 0 0 0 10px'>#Manhal_TotalPrice#</label>
        </div>
        <div style='display: block; overflow: hidden;'>
            <label style='display: block; overflow: hidden; float: left; height: 30px; line-height: 30px; font-weight: bold; font-family: Tahoma; font-size: 14px; color: #252525;'>Description :</label>
            <label style='display: block; overflow: hidden; float: left; height: 30px; line-height: 30px; font-weight: normal; font-family: Tahoma; font-size: 14px; color: #252525; margin: 0 0 0 10px'>#Manhal_Description#</label>
        </div>
        <a href="www.manhal.com/#Manhalinvoice_id#"  style='display: inline-block;float: left; overflow: hidden; line-height: 20px; margin: 10px 0 0 0px; color: #fff; font-size: 16px; font-weight: bold; background: #00AB67; padding: 5px 10px 5px 10px; border-radius: 5px; border: solid 1px; cursor: pointer;'>
            paypal
        </a>
    </div>
    <div style='display: block; overflow: hidden; margin: 15px 0 0 0; padding: 10px 50px; border-top: dotted 1px #c2c2c2'>
        <label style='display: block; overflow: hidden; float: left; line-height: 20px; font-family: Tahoma; font-size: 13px; color: #252525;'>
            Dar Al-manha Team,
        </label>
    </div>
</div>
</body>
</html>