<html>
<meta charset="UTF-8">
<head>
    <title>دار المنهل</title>
    <style> body { direction: rtl; } </style>
</head>
<body style='margin: 0px; font-family: Tahoma; font-size: 13px; color: #252525;'>
<div style='width: 100%; min-width: 400px; display: block; overflow: hidden;'>
    <div style='width: 100%; min-width: 400px; display: block; overflow: hidden;background:#fff;border-bottom:2px solid #00a951'>
        <div style='display: block; overflow: hidden; height: 80px; background: rgba(0,0,0,.5); '>
            <a href='#' target='_blank'
               style='display: block; overflow: hidden; min-width: 215px;  margin: 0 30px 0 0; float: right;width: 180px;}'>
                <img src="#Manhal_logo#" style="width: 190px; height: 75px;"/>
            </a>
        </div>
    </div>
    <div style='display: block; overflow: hidden; margin: 20px 30px;'>
        <div style='display: block; overflow: hidden;'>
            <label style='display: block; overflow: hidden; float: right; height: 30px; line-height: 30px; font-weight: bold; font-family: Tahoma; font-size: 14px; color: #252525;'>السيد / السيدة :</label>
            <label style='display: block; overflow: hidden; float: right; height: 30px; line-height: 30px; font-weight: normal; font-family: Tahoma; font-size: 14px; color: #252525; margin: 0px 10px 0px 0px'>#Manhal_User_fullname</label>

        </div>
        <div style='display: block; overflow: hidden;'>
            <label style='display: block; overflow: hidden; float: right; height: 30px; line-height: 30px; font-weight: bold; font-family: Tahoma; font-size: 14px; color: #252525;'>شكرًا لك</label>
        </div>
        <div style='display: block; overflow: hidden;'>
            <label style='display: block; overflow: hidden; float: right; height: 30px; line-height: 30px; font-weight: bold; font-family: Tahoma; font-size: 14px; color: #252525;'>تمت عملية الشراء من منصة دار المنهل الإلكترونية بنجاح.</label>
        </div>
        <div style='display: block; overflow: hidden;'>
            <label style='display: block; overflow: hidden; float: right; height: 30px; line-height: 30px; font-weight: bolder; font-family: Tahoma; font-size: 14px; color: #00AB67;text-decoration: underline'>المشتريات</label>
        </div>
        <div class="books-container" style=" display: inline-block; overflow: hidden; margin: 10px auto; width: 100%;">
            <div class="display-table" style="display: table; overflow-y: hidden; width: 100%;">
                <!--start table caption-->
                <div class="disply-table-caption" style=" display: table-caption; overflow: hidden; background-color: #00AB67; color: #fff; font-size: 12px; font-weight: bold; height: 25px; line-height: 25px; -webkit-print-color-adjust: exact;">
                    <div style="vertical-align: middle; text-align: center; float: left; font-size: 12px; display: inline-block; overflow: hidden; width: 3%; " class="display-table-cell number" >#</div>
                    <div style="vertical-align: middle; text-align: center; float: left; font-size: 12px;  display: inline-block; overflow: hidden; width: 17%; float: left;" class="display-table-cell ISBN">ISBN</div>
                    <div style="vertical-align: middle; text-align: center; float: left; font-size: 12px; display: inline-block; overflow: hidden; width: 8%;" class="display-table-cell Quantity1">الكمية</div>
                    <div style="vertical-align: middle; text-align: center; float: left; font-size: 12px;display: inline-block; overflow: hidden; width: 23%; float: left;" class="display-table-cell book-title2">العنوان</div>
                    <div style="vertical-align: middle; text-align: center; float: left; font-size: 12px; display: inline-block; overflow: hidden; width: 8%;" class="display-table-cell Quantity1">سعر الوحدة</div>
                    <div style="vertical-align: middle; text-align: center; float: left; font-size: 12px; display: inline-block; overflow: hidden; width: 8%;" class="display-table-cell Quantity1">الخصم</div>
                    <div style="vertical-align: middle; text-align: center; float: left; font-size: 12px; display: inline-block; overflow: hidden; width: 8%;" class="display-table-cell Quantity1">الضريبة</div>
                    <div style="vertical-align: middle; text-align: center; float: left; font-size: 12px;display: inline-block; overflow: hidden; width: 10%; float: left;" class="display-table-cell WEIGHT1">السعر الإجمالي</div>
                </div>
                <!--end table caption-->
                <!--start table rows-->
                #Manhal_Products_Details
                <!--end table rows-->

            <div class="invoice-center" style=" display:block; overflow: hidden; width: 100%;">
                <div class="right-table floating-right" style="display:inline-block; overflow: hidden; width: 15%;float: left;">
                    <fieldset class="floating-left" style=" display:inline-block; overflow: hidden; color: #00AB67; border:solid 1px #00AB67; width: 85%; border-radius: 8px; margin: 0px 0px 0px 0px; float: right;">
                        <div class="line-row-bill" style="display:block; overflow: hidden; margin: 0px 0px 5px 0px; width: 100%;">
                            <label class="floating-left text-left" style="display:inline-block; overflow: hidden; width: 50%; text-align: right; color: #00AB67; font-size: 12px; font-weight: bold;float: right;">المجموع :</label>
                            <div class="floating-left" style="display:inline-block; overflow: hidden; width: 40%; text-align: left; color: #000; font-size: 12px;float: right;">#Manhal_Total</div>
                        </div>
                        <div class="line-row-bill" style="display:block; overflow: hidden; margin: 0px 0px 5px 0px; width: 100%;">
                            <label class="floating-left text-left" style="display:inline-block; overflow: hidden; width: 50%; text-align: right; color: #00AB67; font-size: 12px; font-weight: bold;float: right;">الخسم :</label>
                            <div class="floating-left" style="display:inline-block; overflow: hidden; width: 40%; text-align: left; color: #000; font-size: 12px;float: right;">#Manhal_Discount</div>
                        </div>
                        <div class="line-row-bill" style="display:block; overflow: hidden; margin: 0px 0px 5px 0px; width: 100%;">
                            <label class="floating-left text-left" style="display:inline-block; overflow: hidden; width: 50%; text-align: right; color: #00AB67; font-size: 12px; font-weight: bold;float: right;">تكلفة الشحن:</label>
                            <div class="floating-left" style="display:inline-block; overflow: hidden; width: 40%; text-align: left; color: #000; font-size: 12px;float: right;">#Manhal_Sipping_Cost</div>
                        </div>
                        <div class="line-row-bill" style="display:block; overflow: hidden; margin: 0px 0px 5px 0px; width: 100%;">
                            <label class="floating-left text-left" style="display:inline-block; overflow: hidden; width: 50%; text-align: right; color: #00AB67; font-size: 12px; font-weight: bold;float: right;">تكلفة الدفع عند الاستلام:</label>
                            <div class="floating-left" style="display:inline-block; overflow: hidden; width: 40%; text-align: left; color: #000; font-size: 12px;float: right;">#Manhal_COD</div>
                        </div>
                        <?php } ?>
                        <div class="line-row-bill" style="display:block; overflow: hidden; margin: 0px 0px 5px 0px; width: 100%;">
                            <label class="floating-left text-left" style="display:inline-block; overflow: hidden; width: 50%; text-align: right; color: #00AB67; font-size: 12px; font-weight: bold;float: right;"> إجمالي الفاتورة :</label>
                            <div class="floating-left" style="display:inline-block; overflow: hidden; width: 40%; text-align: left; color: #000; font-size: 12px;float: right;">#Manhal_Grand_Total</div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
        <div style='display: block; overflow: hidden;'>
            <label style='display: block; overflow: hidden; float: right; height: 30px; line-height: 30px; font-weight: bolder; font-family: Tahoma; font-size: 14px; color: #00AB67;text-decoration: underline'>تفاصيل الشحن</label>
        </div>

        <div style="display: inline-block;overflow: hidden ;float: right"><div style='display: block; overflow: hidden;'>
            <label style='display: block; overflow: hidden; float: right; height: 30px; line-height: 30px; font-weight: bold; font-family: Tahoma; font-size: 14px; color: #252525;'>الأسم :</label>
            <label style='display: block; overflow: hidden; float: right; height: 30px; line-height: 30px; font-weight: normal; font-family: Tahoma; font-size: 14px; color: #252525; margin: 0px 10px 0px 0px'>#Manhal_Shiping_Name</label>
        </div>
            <div style='display: block; overflow: hidden;'>
                <label style='display: block; overflow: hidden; float: right; height: 30px; line-height: 30px; font-weight: bold; font-family: Tahoma; font-size: 14px; color: #252525;'>الدولة :</label>
                <label style='display: block; overflow: hidden; float: right; height: 30px; line-height: 30px; font-weight: normal; font-family: Tahoma; font-size: 14px; color: #252525; margin: 0px 10px 0px 0px'>#Manhal_Shiping_Country</label>
            </div>
            <div style='display: block; overflow: hidden;'>
                <label style='display: block; overflow: hidden; float: right; height: 30px; line-height: 30px; font-weight: bold; font-family: Tahoma; font-size: 14px; color: #252525;'>المدينة :</label>
                <label style='display: block; overflow: hidden; float: right; height: 30px; line-height: 30px; font-weight: normal; font-family: Tahoma; font-size: 14px; color: #252525; margin: 0px 10px 0px 0px'>#Manhal_Shiping_City</label>
            </div>
            <div style='display: block; overflow: hidden;'>
                <label style='display: block; overflow: hidden; float: right; height: 30px; line-height: 30px; font-weight: bold; font-family: Tahoma; font-size: 14px; color: #252525;'>الولاية :</label>
                <label style='display: block; overflow: hidden; float: right; height: 30px; line-height: 30px; font-weight: normal; font-family: Tahoma; font-size: 14px; color: #252525; margin: 0px 10px 0px 0px'>#Manhal_Shiping_State</label>
            </div>
            <div style='display: block; overflow: hidden;'>
                <label style='display: block; overflow: hidden; float: right; height: 30px; line-height: 30px; font-weight: bold; font-family: Tahoma; font-size: 14px; color: #252525;'>العنوان 1 :</label>
                <label style='display: block; overflow: hidden; float: right; height: 30px; line-height: 30px; font-weight: normal; font-family: Tahoma; font-size: 14px; color: #252525; margin: 0px 10px 0px 0px'>#Manhal_Shiping_Address1</label>
            </div>
            <div style='display: block; overflow: hidden;'>
                <label style='display: block; overflow: hidden; float: right; height: 30px; line-height: 30px; font-weight: bold; font-family: Tahoma; font-size: 14px; color: #252525;'>العنوان 2 :</label>
                <label style='display: block; overflow: hidden; float: right; height: 30px; line-height: 30px; font-weight: normal; font-family: Tahoma; font-size: 14px; color: #252525; margin: 0px 10px 0px 0px'>#Manhal_Shiping_Address2</label>
            </div>
            <div style='display: block; overflow: hidden;'>
                <label style='display: block; overflow: hidden; float: right; height: 30px; line-height: 30px; font-weight: bold; font-family: Tahoma; font-size: 14px; color: #252525;'>رقم الهاتف :</label>
                <label style='display: block; overflow: hidden; float: right; height: 30px; line-height: 30px; font-weight: normal; font-family: Tahoma; font-size: 14px; color: #252525; margin: 0px 10px 0px 0px'>#Manhal_Shiping_Phone</label>
            </div>
        </div>
        <div style="display: inline-block;overflow: hidden;float: right;margin: 0 50px 30px 0">

            <div style='display: block; overflow: hidden;'>
                <label style='display: block; overflow: hidden; float: right; height: 30px; line-height: 30px; font-weight: bold; font-family: Tahoma; font-size: 14px; color: #252525;'>رقم الجوال :</label>
                <label style='display: block; overflow: hidden; float: right; height: 30px; line-height: 30px; font-weight: normal; font-family: Tahoma; font-size: 14px; color: #252525; margin: 0px 10px 0px 0px'>#Manhal_Shiping_Mobile</label>
            </div>
            <div style='display: block; overflow: hidden;'>
                <label style='display: block; overflow: hidden; float: right; height: 30px; line-height: 30px; font-weight: bold; font-family: Tahoma; font-size: 14px; color: #252525;'>البريد الإلكتروني :</label>
                <label style='display: block; overflow: hidden; float: right; height: 30px; line-height: 30px; font-weight: normal; font-family: Tahoma; font-size: 14px; color: #252525; margin: 0px 10px 0px 0px'>#Manhal_Shiping_Email</label>
            </div>
            <div style='display: block; overflow: hidden;'>
                <label style='display: block; overflow: hidden; float: right; height: 30px; line-height: 30px; font-weight: bold; font-family: Tahoma; font-size: 14px; color: #252525;'>الرمز البريدي :</label>
                <label style='display: block; overflow: hidden; float: right; height: 30px; line-height: 30px; font-weight: normal; font-family: Tahoma; font-size: 14px; color: #252525; margin: 0px 10px 0px 0px'>#Manhal_Shiping_Postcode</label>
            </div>
            <br>
        </div>
        <div style='display: block; overflow: hidden;clear: both'>
            <label style='display: block; overflow: hidden; float: right; height: 30px; line-height: 30px; font-weight: bold; font-family: Tahoma; font-size: 14px; color: #00AB67;'>*الشحن داخل الأردن: تتم عملية التسليم خلال 8-10 أيام عمل من تاريخ الطلب</label>
            <label style='display: block; overflow: hidden; float: right; height: 30px; line-height: 30px; font-weight: bold; font-family: Tahoma; font-size: 14px; color: #00AB67;clear: both'>*الشحن خارج الأردن: تتم عملية التسليم خلال 4-5 أيام عمل من تاريخ الطلب</label>
        </div>

    <div style='display: block; overflow: hidden; margin: 15px 0 0 0; padding: 10px 50px; border-top: dotted 1px #c2c2c2;clear: both'>
        <label style='display: block; overflow: hidden; float: left; line-height: 20px; font-family: Tahoma; font-size: 13px; color: #252525;'>
<a href="https://www.manhal.com/" target="_blank">
            فريق عمل دار المنهل,
</a>
            <br>
            support@manhal.com
            <br>
            +962 (78) 7000522

        </label>
    </div>
</div>
</div>
</body>
</html>