

@font-face {
    font-family: 'Conv_GE_East_ExtraBold';
    src: url('../fonts/GE East ExtraBold.eot');
    src: local('☺'), url('../fonts/GE East ExtraBold.woff') format('woff'), url('../fonts/GE East ExtraBold.ttf') format('truetype'), url('../fonts/GE East ExtraBold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
*
{
    outline: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);

}
a
{
    text-decoration: none;
    cursor: pointer;
    outline: none;
}

a img
{
    border: 0;
}
.message-main-container
{
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: fixed;
    /*background: rgba(0,0,0,0.5);*/
    z-index: 10000000;
    text-align: center;
}
.message-container
{
    display: block;
    overflow: visible;
    width: 55%;
    height: 44%;
    /*background: url("../images/message-templet.svg") no-repeat center;*/
    /*background-size: 100% 100%;*/
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}


.message-inner-container
{
    display: block;
    overflow: visible;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}
.message-main-content
{
    display: block;
    overflow: visible;
    width: 50%;
    height: 37%;
    background: url("../img/message-bg.svg") no-repeat center;
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;

}
.line-row-message
{
    display: block;
    overflow: visible;
    margin: 8% 1% 0 0;
}
.lbl-data-message
{
    display: block;
    overflow: hidden;
    width: 66%;
    /*height: 51%;*/
    position: absolute;
    right: 23%;
    top: 33%;
}
.lbl-data-message span,
.lbl-data-sort-msg
{
    display: block;
    overflow: hidden;
    width: 100%;
    height: 50%;
    line-height: 1.5em;
    font-family: 'Conv_GE_East_ExtraBold';
    font-size: 5vmin;
    color: #000;
    direction: rtl;
    padding: 0 1% 0 0;
    text-align: center;
}
.colse-btn,.ok-btn
{
    display: block;
    overflow: hidden;
    /*width: 13%;*/
    /*height: 18%;*/
    cursor: pointer;
    position: absolute;
    /*bottom: 9%;*/
    /*background: url("../images/icon_blank.svg") no-repeat center;*/
    /*background-size: 100% 100%;*/
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
}
.colse-btn
{
    background: url("../img/close.svg") no-repeat center;
    background-size: 100% 100%;
    top: 14%;
    left: 8%;
    width: 9%;
    height: 18%;
}
.ok-btn
{
    right: 33.5%;
}
/*.colse-btn*/
/*{*/
    /*left: 35%;*/
/*}*/
.colse-btn i,.ok-btn i
{
    display: inline-block;
    overflow: hidden;
    width: 50%;
    height: 90%;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.ok-btn i
{
    background-image: url("../images/ok.svg");
    width: 41%;
    margin-left: 10%;
}
.colse-btn i
{
    background-image: url("../images/back.svg");
}
.colse-btn i:before,.ok-btn i:before
{
    font-size: 27px;
    color: #fff;
    line-height: 60px;
    text-align: center;
    margin-left: 13px;
}
.ok-btn i:before
{
    margin-left: 15px;
}
.message-img
{
    display: block;
    overflow: hidden;
    width: 11%;
    height: 24%;
    position: absolute;
    right: 11%;
    top: 35%;
}

.sort-btn
{
    display: block;
    overflow: hidden;
    width: 25%;
    height: 84%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    margin-right: 6.4%;
    margin-top: 1%;
    cursor: pointer;
}
#game1
{
    background-image: url("../images/3-3.svg");
}
#game2
{
    background-image: url("../images/4-4.svg");
}
#game3
{
    background-image: url("../images/5-5.svg");
}