
:root {
    --bghader3: #79b7ea;
}
@font-face {
    font-family: 'ScheherazadeRegular';
    src: url('fonts/ScheherazadeRegular.eot');
    src: url('fonts/ScheherazadeRegular.eot') format('embedded-opentype'),
    url('fonts/ScheherazadeRegular.woff2') format('woff2'),
    url('fonts/ScheherazadeRegular.woff') format('woff'),
    url('fonts/ScheherazadeRegular.ttf') format('truetype'),
    url('fonts/ScheherazadeRegular.svg#ScheherazadeRegular') format('svg');
}
@font-face {
    font-family: 'ScheherazadeBold';
    src: url('fonts/ScheherazadeBold.eot');
    src: url('fonts/ScheherazadeBold.eot') format('embedded-opentype'),
    url('fonts/ScheherazadeBold.woff2') format('woff2'),
    url('fonts/ScheherazadeBold.woff') format('woff'),
    url('fonts/ScheherazadeBold.ttf') format('truetype'),
    url('fonts/ScheherazadeBold.svg#ScheherazadeBold') format('svg');
}
.floating-right
{
    float: right;
}
.floating-left
{
    float: left;
}
.text-right
{
    text-align: right;
}
.text-left
{
    text-align: left;
}
.text-center
{
    text-align: center;
}
.display-block
{
    display: block;
    overflow: hidden;
}
.display-inline-block
{
    display: inline-block;
    overflow: hidden;
}
.clear
{
    clear: both;
}
a
{
    border: none;
    text-decoration: none;
    cursor: pointer;
}
*,a,
a:focus {
    outline: none;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background: #ffffff;
    text-align: center;
    font-family: 'ScheherazadeRegular';
    font-style: normal;
    font-weight: normal;
}

.main-container
{
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: var(--bghader3) url("../images/bk.svg") no-repeat center;
    background-size: 100% 100%;
}
.inner-container
{
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.title-container
{
    display: block;
    overflow: hidden;
    width: 37.989%;
    height: 7.683%;
    position: absolute;
    top: 1.823%;
    left: 0;
    right: 0;
    margin: auto;
    background: #ffffff;
    border-radius: 12px;
}
.title
{
    display: block;
    overflow: hidden;
    width: 80.7%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.title span
{
    display: block;
    overflow: hidden;
    width: 100%;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 4.8vmin;
    color: var(--bghader3);
}
.card-main-container
{
    display: block;
    overflow: hidden;
    width: 97.168%;
    height: 87.761%;
    position: absolute;
    top: 11.068%;
    left: 0;
    right: 0;
    margin: auto;
    background: url(../images/stage.svg) no-repeat center;
    background-size: 100% 100%;
}
.sup-title
{
    display: block;
    overflow: visible;
    width: 95%;
    height: 5.935%;
    position: absolute;
    top: 3.561%;
    right: 1.81%;
}
.dot
{
    display: block;
    overflow: hidden;
    width: 1.693%;
    height: 40%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: #ffa200;
    border-radius: 50%;
}
.inner-sup-title
{
    display: table;
    overflow: visible;
    width: 98%;
    height: 100%;
    margin-right: 3.068%;
    float: right;
}
.inner-sup-title span
{
    display: table-cell;
    overflow: visible;
    vertical-align: middle;
    line-height: 1.2em;
    text-align: right;
    color: #4e4e4e;
    font-size: 4.9vmin;
    direction: rtl;
}
.inner-card-container
{
    display: block;
    overflow: hidden;
    width: 88.644%;
    height: 77.745%;
    position: absolute;
    top: 15.431%;
    left: 0;
    right: 0;
    margin: auto;
}
.col
{
    display: block;
    overflow: visible;
    width: 43.878%;
    height: 100%;
    position: absolute;
}
.col1
{
    left: 0;
}
.col2
{
    right: 0;
}
.card
{
    display: block;
    overflow: hidden;
    width: 100%;
    height: 18.703%;
    float: left;
    background: #ffffff;
    border-radius: 12px;
    border: 2px solid var(--bghader3);
    position: relative;
    margin-bottom: 10.8%;
    cursor: pointer;
}
.card:last-child
{
    margin-bottom: 0;
}
.card.selected
{
    box-shadow: 0px 7px 0px rgba(0,0,0,0.10);
}
.card span
{
    display: block;
    overflow: hidden;
    width: 100%;
    position: absolute;
    top: 50%;
    font-size: 5.7vmin;
    text-align: center;
    color: #4e4e4e;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    direction: rtl;
}
.poweredBy
{
    display: block;
    overflow: hidden;
    width: 8.258%;
    height: 2.337%;
    position: absolute;
    bottom: 1.965%;
    left: 2.842%;
    background: url("../images/poweredBy.svg") no-repeat center;
    background-size: 100% 100%;
    z-index: 999999999;
}

.main-message-container,
.main-message-container_nextMessage
{
    display: none;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 99999999;
}
.inner-message-container
{
    display: block;
    overflow: visible;
    width: 31.153%;
    height: 46.224%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    box-shadow: 0 0 169px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 30px;
    border: 3px solid #e2e2e2;
    background: rgb(219,219,219);
    background: linear-gradient(0deg, rgba(219,219,219,1) 0%, rgba(255,255,255,1) 52%);
}
.main-message-container_nextMessage .inner-message-container
{
    display: block;
    overflow: visible;
    width: 23%;
    height: 23%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    box-shadow: 0 0 169px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 30px;
    border: 3px solid #e2e2e2;
    background: rgb(219,219,219);
    background: linear-gradient(0deg, rgba(219,219,219,1) 0%, rgba(255,255,255,1) 52%);
}
#feedback,
#feedback1
{
    display: block;
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

.wellDonw
{
    width: 32.602%;
    height: 7.89%;
    top: 37.93%;
    background-image: url("../images/wellDonw.svg");
}
.good
{
    width: 19.44%;
    height: 8.17%;
    top: 37.184%;
    background-image: url("../images/good.svg");
}
.tryAgain
{
    width: 57.681%;
    height: 8.451%;
    top: 37.493%;
    background-image: url("../images/tryAgain.svg");
}
.main-message-container_nextMessage .wellDonw
{
    width: 48%;
    height: 36%;
    top: 0;
    bottom: 0;
    background-image: url("../images/wellDonw.svg");
}

#message-icone
{
    display: block;
    overflow: hidden;
    width: 52.98%;
    height: 17.184%;
    position: absolute;
    top: 10.423%;
    left: 0;
    right: 0;
    margin: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}
.wellDonw-icon
{
    background-image: url("../images/message-icon-wellDonw.svg");
}
.good-icon
{
    background-image: url("../images/message-icon-good.svg");
}
.tryAgain-icon
{
    background-image: url("../images/message-icon-tryAgain.svg");
}
.result-text
{
    display: block;
    overflow: hidden;
    width: 13.17%;
    height: 3.944%;
    position: absolute;
    top: 60.141%;
    left: 0;
    right: 0;
    margin: auto;
    background: url("../images/result-text.svg") no-repeat center;
    background-size: 100% 100%;
}
.result-container
{
    display: block;
    overflow: hidden;
    width: 36.991%;
    height: 12.113%;
    position: absolute;
    top: 69.592%;
    left: 0;
    right: 0;
    margin: auto;
    background: url("../images/result.svg") no-repeat center;
    background-size: 100% 100%;
}
.result-container span
{
    display: block;
    overflow: hidden;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 3vmin;
    text-align: center;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    pointer-events: none;
}
.reload
{
    display: block;
    overflow: hidden;
    width: 17.421%;
    height: 15.803%;
    position: absolute;
    bottom: -6.7%;
    left: 0;
    right: 0;
    margin: auto;
    background: url("../images/reload.svg") no-repeat center;
    background-size: 100% 100%;
}

.next-scene
{
    display: block;
    overflow: hidden;
    width: 23.97%;
    height: 32.24%;
    position: absolute;
    bottom: -13.5%;
    right: 0;
    left: 0;
    margin: auto;
    background: url("../images/next2.svg") no-repeat center;
    background-size: 100% 100%;
    cursor: pointer;
    z-index: 9999;
}

